@import "../sass/settings";

.profiles {
  display: grid;
  margin: 0 auto;
  grid-gap: 10px;
  @include breakpoint($tabletplus) {
    grid-template-columns: repeat(3, 1fr);
  }

  align-items: center;
  justify-content: center;
  text-align: left;
  max-width: 605px;
}

.profile {
  display: grid;
  flex-direction: column;
  background-color: var(--bg-grey);
  margin-top: 3em;
}

.profile img {
  width: 100%;
}

.profileText {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.role {
  $map: (
    320: 10,
    768: 10,
    1024: 12
  );
  font-size: fluid($map);
  line-height: 1.6em;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  font-weight: 600;
  color: var(--sub-header);
}
.name {
  $map: (
    320: 20,
    768: 18,
    1024: 24
  );
  font-size: fluid($map);
  line-height: 1.6em;
  margin: 0;
  padding: 0;
  font-weight: 400;
  color: var(--header);
}
.description {
  $map: (
    320: 12,
    768: 12,
    1024: 13
  );
  font-size: fluid($map);
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  font-weight: 400;
}
