@import "../sass/settings";

.header {
  @include breakpoint($mobile) {
    background: rgba(128, 128, 128, 0.473);
  }

  @include breakpoint($tablet) {
  }

  @include breakpoint($desktop) {
  }

  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.header a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.menu nav ul {
  display: none;
}

.burgerMenu {
  text-transform: uppercase;
}
