@import "../sass/settings";

.gallery {
  display: grid;
  width: 100%;
  grid-gap: 10px;
  @include breakpoint($tabletplus) {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }
  max-width: 100vw;
}

.gallery div {
  overflow: hidden;
  object-fit: cover;
  object-position: 50% 50%;
}

@include breakpoint($desktop) {
  .gallery div:nth-child(2) {
    grid-column: auto / span 2;
  }

  .gallery div:nth-child(5),
  .gallery div:nth-child(12) {
    grid-column: auto / span 2;
  }

  .gallery img,
  .gallery picture {
    object-fit: cover;
    width: auto;
    max-width: none;
    height: auto;
    object-position: 50% 50%;
    transition: 0.5s;
    display: block;
  }

  .gallery img:hover {
    filter: grayscale(0.9) saturate(10);
  }
}

.visible {
  opacity: 1;
  transition: 2s;
}

.greyscale {
  filter: blur(2px) grayscale(0.9) saturate(10);
  opacity: 0.2;
  transition: 2s;
}
